.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

h1,
p {
  font-family: Lato;
}
table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  position: relative;
}
tr {
  width: 100%;
  display: flex;
}

tr:hover {
  background-color: aqua;
  cursor: pointer;
}
thead th {
  flex: 1;
  font-weight: 500;
  text-align: center;
  background-color: #fafafa;
}

th,
td {
  flex: 1;
  text-align: center;
  padding: 8px;
  overflow-wrap: break-word;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

table th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}
